
/* image gallery */
@import "~react-image-gallery/styles/css/image-gallery.css";


*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 32px;
  --color-text: #818bff;
  --color-bg: #1a0b37;
  --color-title: #9577cc;
  --color-link: #2935ba;
  --color-link-hover: #9577cc;
  --page-padding: 1rem;
  --rheight: 15vh;
  --card-color: #1a0b37;
  --text-color: #818bff;
  --card-radius: 20px;
  --card-width: 200px;
  --border-width: 3px;
  --bg-size: 1;
  --hue: 0;
  --hue-speed: 1;
  --rotate: 0;
  --animation-speed: 4s;
  --interaction-speed: 0.55s;
  --glow-scale: 1.5;
  --scale-factor: 1;
  --glow-blur: 6;
  --glow-opacity: 1;
  --glow-radius: 100;
  --glow-rotate-unit: 1deg;
  --framer-aspect-ratio-supported: auto;
}

body {
  margin: 0;
  color: var(--color-text);
  font-family: "ouma-latin-variable", -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-variation-settings: "wght" 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg);
  background-repeat: repeat-x;
  overflow-x: hidden;
}

/* Header styles */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height:15vh;
  z-index: 1000; /* Ensure it stays above other elements */
}

nav {
  display: inline-flex;
  width:100%;
  height:15vh;
}

ul {
  height:100%;
  align-items: center;
}

.home-btn-container {
  display: flex;
  padding: 20px;
}

.home-btn {
  display:flex;
  align-items: center;
  justify-content: left;
  font-size: 54px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-title);
  font-weight: 400;
  font-family: "ivymode", sans-serif;
  mix-blend-mode: overlay;
}

.main-button {
  background-color: var(--color-bg); /* Using the purple accent color */
  color: var(--color-title);
  border: var(--border-width) solid var(--color-link); /* Blue border */
  border-radius: var(--card-radius);
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
}

.main-button:hover {
  background-color: var(--color-link); /* Blue background on hover */
  color: var(--color-title); /* Purple text on hover */
  border-color: var(--color-title); /* Purple border on hover */
  box-shadow: 0 0 10px rgba(149, 119, 204, 0.5); /* Subtle glow effect */
  transform: translateY(-2px); /* Slight lift effect */
}

.burger-button:active {
  color: var(--text-color);
}

.burger-button.active {
  color: #61dafb;
}

.burger-button.active:hover {
  color: var(--text-color);
}
/* Logos */
.apps-flex-container {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: min-content;
  justify-content: center;
  padding: 10px;
  gap: 40px;
  overflow: visible;
  position: relative;
  width: 100%;
  max-width: 80%;
  margin:auto;
}

.app-flex {
  aspect-ratio: 1 / 1;
  border-radius:10px;
  cursor: pointer;
  flex: none;
  height: var(--framer-aspect-ratio-supported, 40px);
  overflow: visible;
  position: relative;
  width: 40px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.app-flex:hover {
  transform: translateY(-10%) scale(1.1); /* Move up and scale */
}

.app-logo {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center;
  object-fit: cover;
  image-rendering: auto;
}

.tooltip-container {
  position: relative;
  display: inline-block; /* Make the container inline to wrap around children */
}

.tooltip-box {
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-bg); /* Use the main button background */
  color: var(--color-title); /* Use the main button text color */
  border: var(--border-width) solid var(--color-link); /* Use the main button border */
  border-radius: var(--card-radius); /* Use the main button border radius */
  padding: 5px 10px;
  font-size: 0.875rem;
  font-weight: bold;
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.tooltip-container:hover .tooltip-box {
  opacity: 1;
  visibility: visible;
}

.passion-section {
  display:flex;
  margin: 20px auto;
  line-height: 1.6;
}

.ai-passion-section p {
  margin: 0;
}

.tile-container {
  margin: 40px 20px;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: space-evenly;
}

.menu {
  display: flex;
  width: 100vw;
  justify-content: left;
  list-style-type: none;
  margin: 0 20px;
  padding: 0 20px;
}

.menu li {
  min-width:4rem;
  margin: 0 15px;
}

.menu li a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  transition: color 0.3s;
}

.burger-menu-list li {
  margin: 0 15px;
}

.burger-menu-list li a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: bold;
  padding: 0 10px;
  transition: color 0.3s;
}

section {
  min-height: 85vh;
  width: 100%;
  padding-bottom:20vh;
}

.column-flex-two {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
}

.column-flex {
  flex: 1; /* This makes each column take up equal space */
  max-width: 700px; /* Adjust this value based on your content needs */
  justify-content: center;
}

/* Media query for smaller screens */
@media (max-width: 768px) { /* Adjust this breakpoint as needed */
  .column-flex-two {
    flex-direction: column;
  }

  .column-flex {
    width: 100%;
  }
}

.galleries {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 120px;
}

.gallery-container {
  width: 80%;
  max-width: 65vw;
  margin: 20px auto;
}
.gallery-title {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  margin-bottom: 40px;
  text-align: left;
  color: var(--color-title);
}

.gallery-description {
  text-align: left;
  margin-bottom: 40px;
  font-size: 1rem;
  color: var(--color-text); /* Or your preferred subtle text color */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .galleries {
    gap: 40px;
  }

  .gallery-container {
    padding: 20px;
  }
}

.gallery {
  padding-bottom: 20vh;
}

.image-gallery-slide img {
  height: auto;
  overflow: auto;
  max-height: 65vh!important;
  width:100%;
  object-fit: cover;
}

.fullscreen .image-gallery-slide img {
  max-height: 100vh!important;
}

.fullscreen .image-gallery-slide img {
  max-height: 100vh;
}

@media (max-width: 768px) {
  .gallery-container {
    width: 95%;
  }

  .image-gallery-thumbnail {
    width: 60px;
    height: 48px;
  }
}

.menu li a:hover {
  color: #61dafb; /* Highlight color on hover */
}

/* Content styles to avoid overlap with fixed header */
.content {
  margin-top: 15vh; /* Adjust this value to match the header's height */
}

/* responsive menu*/
.burger-button {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin: auto 20px;
  background-color: var(--color-bg);
  color: var(--color-title);
  border: var(--border-width) solid var(--color-link);
  border-radius: 10px;
  align-items: center;
}

.burger-button:hover {
  color: #61dafb;
}

.burger-container {
  display:flex;
  width:100%;
  align-items: center;
  justify-content: flex-end;
}
.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 80vh;
  transform: translateX(100%);
  transition: right 0.3s ease-in-out;
  z-index: 3001;
  display: none;  /* Hide by default */

  /* Background styles */
  background: var(--color-bg);
  background-repeat: repeat-x;
  overflow-x: hidden;
  background-image: url(/assets/img/noise.png), radial-gradient(circle, rgb(38 3 130) 0%, rgb(14 3 33) 100%);
  background-size: 400px, 100% 100vh;
  background-attachment: fixed;
}

.burger-menu {
  margin-top: 15vh;
  height:85vh;
}

.burger-menu.open {
  transform: translateX(0);
}

.burger-menu-list {
  display: block;
  height:50vh;
  list-style-type: none;
  padding: 0 20px;
}

.burger-menu-list li {
  margin-bottom: 15px;
}

.close-menu {
  position: absolute;
  color: var(--color-title);
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Landscape mode (desktop) */
@media (orientation: landscape) {
  .desktop-menu {
    display: flex;
  }

  .burger-button {
    display: none;
  }

  .burger-menu {
    display: none;
  }
}


/* portrait mode (mobile) */
@media (orientation: portrait) {
  .desktop-menu {
    display: none;
  }

  .burger-button {
    display: flex;
  }

  .burger-menu {
    display: block;
  }
}

/* Optional: Add styles for responsive design */
@media (max-width: 768px) {

  .menu li {
    margin: 10px 0;
  }
}

.landing-content {
  max-width: 60vw;
}

.welcome {
  font-size: 1.2rem;
}

.description {
  margin-bottom: 1rem;
}

.enjoy {
  font-size: 1.2rem;
  font-weight: bold;
}

/* reflection effect*/
/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: '';
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: 0;
  border-radius: 50%;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;

}

.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.unbutton:focus {
  outline: none;
}

.frame {
  padding: 1.5rem 2rem;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  justify-items: start;
}

.frame #cdawrap {
  justify-self: start;
}

.frame a {
  pointer-events: auto;
}

.frame__title {
  grid-area: title;
  font-size: inherit;
  margin: 0;
}

.frame__back {
  grid-area: back;
  justify-self: start;
}

.frame__prev {
  grid-area: prev;
  justify-self: start;
}

.frame__sub {
  grid-area: sub;
}

.frame__demos {
  grid-area: demos;
  display: flex;
  gap: 1rem;
}

.wrap {
  position: fixed;
  overflow: hidden;
  background: var(--color-bg);
  width: 100%;
  top: 0;
  box-shadow: 0 -25px 45px rgba(0,0,0,0.3);
  height: var(--rheight);
  z-index: 999;
  transform: scaleY(-1);
}

.content {
  position: relative;
  padding: 0 var(--page-padding) 15vh;
  width: 100%;
  margin: var(--rheight) auto 0;
  justify-content: center;
  align-items: start;
  background-image: url(/assets/img/noise.png), radial-gradient(circle, rgb(38 3 130) 0%, rgb(14 3 33) 100%);
  background-size: 400px, 100% 100vh;
  background-attachment: fixed;
}

.article-content {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,300px));
  grid-column-gap: 10vw;
  grid-row-gap: 10vh;
}

.content--reflection {
  position: absolute;
  top: 0;
  margin: 0 auto;
}

.item {
  position: relative;
  margin: 0;
  width: 100%;
}

.demo-1 .item {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.item__inner {
  width: 100%;
  height: 100%;
}

.item__img {
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.item__img-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: 50% 0%;
  background-size: cover;
}

.item__caption {
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  mix-blend-mode: plus-lighter;
}

.item__caption-title,
.content__title {
  white-space: nowrap;
  margin: 0;
  font-size: clamp(1.5rem,8vw,3rem);
  text-transform: uppercase;
}

.item__caption-title {
  margin: 2rem 0;
}

.content__title {
  text-align: center;
  font-size: clamp(2rem,40vw,5rem);
  text-transform: uppercase;
  width: 100%;
  color: var(--color-title);
  font-weight: 600;
  font-family: "ivymode", sans-serif;
  mix-blend-mode: overlay;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .content__title {
    font-size: clamp(1.5rem, 20vw, 4rem);
  }
}

@media (max-width: 480px) {
  .content__title {
    font-size: clamp(1.2rem, 10vw, 3rem);
  }
}

.content__title:not(:first-child) {
  margin: 5vh auto;
}

.item__caption-meta {
  margin: 0;
}

@media screen and (min-width: 53em) {
  body {
    --page-padding: 2rem;
  }
  .frame {
    grid-template-columns: auto auto 1fr 1fr;
    align-content: space-between;
    grid-template-areas: 'title back prev sponsor demos';
  }
  .frame #cdawrap, .frame__sub {
    justify-self: end;
  }
}

/* test */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.item {
  width: 100%;
}

.item p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: left;
}

.column-flex-two {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  width: 100%;
}

.column-flex {
  flex: 1;
  min-width: 0; /* Allows flex items to shrink below their minimum content size */
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #61dafb; /* Assuming you want to keep the color scheme consistent */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .column-flex-two {
    flex-direction: column;
    gap: 20px;
  }
}